$bg-color:#333;
$font-color:#fff;
$primary-color:#008ed6;
$dark-overlay:rgba(0, 0, 0, 0.7);

#FrontContent {
  background: $bg-color !important;
  color: $font-color !important;

  .navbar-transparent {
    border-bottom: $primary-color 2px solid !important;
    opacity: 0.8;
  }

  .navbar-filled {
    border-bottom: $primary-color 2px solid !important;
  }

  #home-section {
    background: url('../../../assets/background/a1.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 400px;

    .dark-overlay {
      background-color: $dark-overlay;
      position: initial;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 500px;

    }

    .home-inner {
      padding-top: 100px;
    }

    .card-form {
      opacity: 0.95;
    }

    .fa {
      color: $primary-color;
      background: #fff;
      border-radius: 4px;
      padding: 4px;
      font-size: 24px;
    }
  }

  #create-section {
    .fa {
      color: $primary-color;
      background: #fff;
      border-radius: 4px;
      padding: 4px;
      font-size: 24px;
    }

  }

  .MyLinks {
    font-size: 17px !important;
    color: #fff !important;

    &:hover {
      color: $primary-color !important;
      text-decoration: none !important;
    }

    &:active {
      color: $primary-color !important;
      text-decoration: none !important;
    }
  }

  .table {
    width: 0;
    width: none !important;
    margin-bottom: 1rem;
    margin-top: 16px !important;
    color: rgba(0, 0, 0, 0.70) !important;
    background-color: #fff !important;
  }

  .contract-input {
    width: 40px !important;
    height: 32px !important;
    text-align: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.70);
    font-family: GothamRounded_Book, RobotoDraft, Roboto, "Helvetica Neue", sans-serif, "Lato", sans-serif !important;
    border-radius: 4px;
    border: rgba(0, 0, 0, 0.22) solid 1.8px;
  }

  .contract-input:focus {
    border: #2196f3 solid 0.5px;
    // outline: none !important;
    box-shadow: 0 0 10px #2196f3;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    /* width: 58px !important; */
    height: 29px !important;
    min-width: 28px !important;
    max-width: 85px !important;
  }

  .responsiveTable {
    max-width: 480px !important;
    max-height: 400px !important;
    overflow: auto !important;
  }


}
