<div id="FrontContent">
  <div class="bg-dark text-light p-4" style="min-height: 64px;">
    <div class="row justify-content-center text-center">
      <span class="align-middle h5">Este es un proyecto de Frontpage desarrollado por Jose Alejandro usando Bootstrap4 y
        Angular7</span>
    </div>
  </div>

  <nav class="navbar navbar-dark navbar-expand-md sticky-top" [ngClass]="{'navbar-transparent':this.navBarState=='normal','navbar-filled':this.navBarState=='downNav',
      'bg-dark':this.navBarState=='normal','bg-primary':this.navBarState=='downNav' }">
    <div class="container-fluid">
      <span class="navbar-brand text-primary">
        <img src="../../../assets/logos/Boostrap_logo.svg" class="ml-2" height="50" class="d-inline-block align-center"
          alt="">
        <span class="align-center align-middle ml-2 text-light h2">
          Laboratorios de Matrices
        </span>

      </span>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item">
            <a class="nav-link btn mr-2" style="font-size: 17px !important" [ngClass]="{'btn-dark':this.navBarState=='normal','btn-primary':this.navBarState =='downNav',
                  'text-light':this.navBarState=='downNav'}" href="#home-section">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn mr-2" style="font-size: 17px !important" [ngClass]="{'btn-dark':this.navBarState=='normal','btn-primary':this.navBarState =='downNav',
                  'text-light':this.navBarState=='downNav'}" href="#explore-head-section">Explore</a>
          </li>
        </ul>

        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" fxFlex.xs="100" fxFlex.sm="100" type="search" placeholder="Search"
            aria-label="Search">
          <button fxFlex.xs="100" class="btn btn-outline-light my-2 my-sm-2 text-light" type="submit">Buscar</button>
        </form> -->

        <!-- <div class="input-group" style="max-width: 500px !important;">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-search"></i>
            </span>
          </div>
          <input class="form-control" type="text" name="" placeholder="Search for..." aria-label="Search ">
          <span class="input-group-btn">
            <button class="btn border-light" type="submit"
              [ngClass]="{'btn-dark':this.navBarState=='normal','btn-primary':this.navBarState =='downNav'}">Search</button>
          </span>
        </div> -->


      </div>
    </div>
  </nav>

  <!-- <div style="padding-top:78px !important;">
        <router-outlet></router-outlet>
      </div> -->

  <!-- HOME SECTION -->
  <section id="home-section" class="animated fadeIn">
    <div class="dark-overlay">
      <div class="home-inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 d-none d-lg-block animated zoomIn">
              <h1 class="display-4">
                Cálculo de la inversa de la matrix mediante el método de Gauss-Jordan
              </h1>
              <div class="d-flex flex-row">
                <div class="p-4 align-self-start">
                  <img src="../../../assets/icons/check-rounded.svg" height="40" class="fa fa-check">
                </div>
                <div class="p-4 align-self-start">
                  Se extiende la matrix junto con la matrix identidad del mismo orden que la matrix en cuestion
                </div>
              </div>
              <div class="d-flex flex-row">

                <div class="p-4 align-self-start">
                  <img src="../../../assets/icons/check-rounded.svg" height="40" class="fa fa-check">
                </div>
                <div class="p-4 align-self-start">
                  En cada paso se seleccionan los pivotes de cada columna y se realizan las operaciones entre filas para
                  llevar el pivote a 1
                </div>
              </div>
              <div class="d-flex flex-row">

                <div class="p-4 align-self-start">
                  <img src="../../../assets/icons/check-rounded.svg" height="40" class="fa fa-check">
                </div>
                <div class="p-4 align-self-start">
                  Se elimina los elementos en la misma columna del pivote.
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-4 animated slideInUp">
              <div class="card bg-primary text-center card-form">
                <div class="card-body">
                  <h3>Sign Up Today</h3>
                  <p>Please fill out of this form to register </p>
                  <form>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-lg" placeholder="Username">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control form-control-lg" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-lg" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-lg" placeholder="Confirm Password">
                    </div>
                    <button type="submit" class="btn btn-outline-light btn-block">Submit</button>
                  </form>
                </div>


              </div>

            </div> -->

          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- EXPLORE HEADER SECTION -->
  <section id="explore-head-section ">
    <div class="container p-3">
      <div class="row ">
        <div class="col-md-6 p-4">
          <span class="h5 p-2 mt-2">Entre la dimencion de la matrix</span>
          <div class="input-group w-75">
            <input class="form-control mt-2" [(ngModel)]="dimension" type="number" min="0" max="20"
              placeholder="Entre la dimension" aria-label="Search ">
          </div>

          <button class="btn btn-primary mt-2" (click)="onGenerarMatrix()">Generar</button>

          <div class="responsiveTable">
            <table *ngIf="this.generateMatrix" class="table animated slideInUp">
              <thead>
                <tr>
                  <th style="max-width: 80px !important; max-height: 40px !important;" scope="col">#</th>
                  <th *ngFor="let columns of this.matrix[0];let i = index" scope="col">{{i}}</th>
                </tr>
              </thead>
              <tbody>
                <tr style="max-width: 80px !important; max-height: 40px !important;"
                  *ngFor="let row of this.matrix;let n = index">
                  <th style="width: 80px !important; height: 50px !important;" scope="row">{{n}}</th>
                  <td *ngFor="let item of row;let m=index">
                    <input class="contract-input" type="number" style="width:70px !important;"
                      (change)="onChangeInput($event.target.valueAsNumber,n,m)">
                  </td>
                </tr>
              </tbody>
            </table>

          </div>



        </div>
        <div class="col-md-6 p-4 ">
          <span class="h5 p-2 mt-2">Resultado</span>
          <div class="responsiveTable" style="margin-top:94px !important;">
            <table *ngIf="this.generateInverseMatrix && !this.noInversa" class="table animated slideInUp">
              <thead>
                <tr>
                  <th style="max-width: 80px !important; max-height: 40px !important;" scope="col">#</th>
                  <th *ngFor="let columns of this.result[0];let i = index" scope="col">{{i}}</th>
                </tr>
              </thead>
              <tbody>
                <tr style="max-width: 80px !important; max-height: 40px !important;"
                  *ngFor="let rows of this.result;let i = index">
                  <th style="width: 80px !important; height: 50px !important;" scope="row">{{i}}</th>
                  <td *ngFor="let values of rows;let j=index">
                    <input class="contract-input" type="number" [readonly]="true" style="width:70px !important;"
                      [(ngModel)]="values">
                  </td>
                </tr>
              </tbody>
            </table>

          </div>



          <div *ngIf="this.noInversa" class="p-3">
            <h3 class="h5">{{'El determinante de la matrix es nulo, no tiene inversa'}}</h3>
          </div>

        </div>
      </div>

      <div class="row d-flex justify-content-center ">
        <button class="btn btn-success mt-2" *ngIf="this.generateMatrix" (click)="onGenerateInverse()">Calcular
          Inversa</button>
      </div>
    </div>
  </section>

  <!-- EXPLORE SECTION -->
  <!-- <section id="explore-section" class="bg-light text-muted py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 wow fadeInLeft" data-wow-delay=".5s">
          <img src="../../../assets/background/accounts.jpg" alt="" class="img-fluid mb-3 rounded-circle">
        </div>
        <div class="col-md-6 wow fadeInRight" data-wow-delay=".5s">
          <h3>Explore & Connect</h3>
          <p>Un grupo de aplicaciones basadas en Internet que se desarrollan sobre los fundamentos ideológicos y
            tecnológicos de la Web 2.0, y que permiten la creación y el intercambio de contenidos generados por el
            usuario</p>
          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <div fxLayoutAlign="start start">

              <div fxLayoutAlign="start start" class="p-2 py-5">
                <img src="../../../assets/icons/check.png" height="20" class="fa fa-check">
              </div>
              <div fxLayoutAlign="start start" class="p-4">
                Optimización de medios sociales, conocido en inglés como SMO o social media optimization, es un término
                de marketing que hace referencia.
              </div>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div fxLayoutAlign="start start" class="p-2 py-5">
              <img src="../../../assets/icons/check.png" height="20" class="fa fa-check">
            </div>
            <div class="p-4 align-self-start">
              Optimización de medios sociales, conocido en inglés como SMO o social media optimization, es un término
              de marketing que hace referencia a la estrategia.
            </div>
          </div>



        </div>
      </div>
    </div>

  </section> -->

  <!-- CREATE HEADER SECTION -->
  <!-- <section id="create-head-section" class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="py-4">
            <h1 class="display-4 wow swing">Create</h1>
            <p class="lead">
              La optimización de medios sociales, conocido en inglés como SMO o social media optimization, es un término
              de marketing que hace referencia a la estrategia y conjunto de acciones1​ llevadas a cabo en redes
              sociales
              y comunidades online con una finalidad publicitaria o comercial.
            </p>
            <a href="#" class="btn btn-outline-light">Find Out More</a>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- CREATE SECTION -->
  <!-- <section id="create-section" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 wow fadeInLeft" data-wow-duration="1s">
          <h3>Create your passion</h3>
          <p>Un grupo de aplicaciones basadas en Internet que se desarrollan sobre los fundamentos ideológicos y
            tecnológicos de la Web 2.0, y que permiten la creación y el intercambio de contenidos generados por el
            usuario</p>
          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <div fxLayoutAlign="start start">

              <div fxLayoutAlign="start start" class="p-2 py-5">
                <img src="../../../assets/icons/check-rounded.svg" height="30" class="fa fa-check">
              </div>
              <div fxLayoutAlign="start start" class="p-4">
                Optimización de medios sociales, conocido en inglés como SMO o social media optimization, es un término
                de marketing que hace referencia.
              </div>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div fxLayoutAlign="start start" class="p-2 py-5">
              <img src="../../../assets/icons/check-rounded.svg" height="30" class="fa fa-check">
            </div>
            <div class="p-4 align-self-start">
              Optimización de medios sociales, conocido en inglés como SMO o social media optimization, es un término
              de marketing que hace referencia a la estrategia.
            </div>
          </div>
        </div>
        <div class="col-md-6  wow fadeInRight" data-wow-duration="1s">
          <img src="../../../assets/background/programing.jpg" alt="" class="img-fluid mb-3 rounded-circle">
        </div>

      </div>
    </div>

  </section> -->

  <!-- SHARE HEADER SECTION -->
  <!-- <section id="share-head-section" class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="py-4">
            <h1 class="display-4">Share</h1>
            <p class="lead">
              La optimización de medios sociales, conocido en inglés como SMO o social media optimization, es un término
              de marketing que hace referencia a la estrategia y conjunto de acciones1​ llevadas a cabo en redes
              sociales
              y comunidades online con una finalidad publicitaria o comercial.
            </p>
            <a href="#" class="btn btn-outline-light">Find Out More</a>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- SHARE SECTION -->
  <!-- <section id="share-section" class="bg-light text-muted py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="../../../assets/background/colaboraion.jpg" alt="" class="img-fluid mb-3 rounded-circle">
        </div>
        <div class="col-md-6">
          <h3>Share your create</h3>
          <p>Un grupo de aplicaciones basadas en Internet que se desarrollan sobre los fundamentos ideológicos y
            tecnológicos de la Web 2.0, y que permiten la creación y el intercambio de contenidos generados por el
            usuario</p>
          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <div fxLayoutAlign="start start">

              <div fxLayoutAlign="start start" class="p-2 py-5">
                <img src="../../../assets/icons/check.png" height="30" class="fa fa-check">
              </div>
              <div fxLayoutAlign="start start" class="p-4">
                Optimización de medios sociales, conocido en inglés como SMO o social media optimization, es un término
                de marketing que hace referencia.
              </div>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div fxLayoutAlign="start start" class="p-2 py-5">
              <img src="../../../assets/icons/check.png" height="30" class="fa fa-check">
            </div>
            <div class="p-4 align-self-start">
              Optimización de medios sociales, conocido en inglés como SMO o social media optimization, es un término
              de marketing que hace referencia a la estrategia.
            </div>
          </div>
        </div>

      </div>
    </div>

  </section> -->

  <!-- FOOTER SECTION -->
  <footer id="main-footer" class="bg-dark">
    <div class="container">
      <div class="row">
        <div class="col text-center py-4">
          <h1 class="h2">Laboratorios de matrices</h1>
          <p>Copyright &copy; 2018</p>
          <button class="btn btn-primary" type="button" (click)="openModalContactUs(contentModel)">Contact Us</button>
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center py-2">
          <div>Powered by</div>
          <div>Jose Alejandro Concepcion</div>
        </div>
      </div>
    </div>
  </footer>

</div>
